.implementation-container{
    min-height: 100vh;
    display: grid;
    text-align: left;
    background-color: black;
}



.implementation{
    padding-left: 5%;
    min-height: 50vh;
}

#lab1{
    font-family: 'Gill Sans';
    color: white;
}
#lab2{
    font-family: 'Gill Sans';
    color: white;
}
#lab3{
    font-family: 'Gill Sans';
    color: white;
}
#cols{
    font-family: 'Gill Sans';
    color: white;
}